@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Aplicativo de testes</h1>
    <p class="lead">Segue o aplicativo de teste conforme solicitado. Simples, objetivo e funcional.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Obrigado!</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Visualizar outros códigos</h2>
        <p>
            Caso consiga, me avise para te apresentar projetos que fiz recentemente para avaliação caso necessário.
        </p>
    </div>
</div>